.melody-game-container {
     background: #000000a2;
    background-image: url('../assets/game-assets/Assets//BackGround/NormalBG/melody.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode:multiply;
    overflow:hidden;
    color: white;
    
}

.rhythm-game-container {
     background: #000000a2;
    background-image: url('https://i.ibb.co/C36XtfG1/Rhythm-game-BG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
    overflow:hidden;
    color: white

}

.pitch-game-container {
    background: #000000cb;
    background-image: url('../assets/game-assets/Assets/BackGround/NormalBG/pitch.png');
    background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
    overflow:hidden;
    color: white;
    background-color: rgb(86, 84, 81);
}

.collection-container {
    background: #000000a2;
    background-image: url('https://i.ibb.co/DDmLYjS6/Untitled-design-82.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    color: white;
    
}


.game-prompt-container p, h3 {
    color: black;
    
}

#btnStartRhythm {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bolder;
    border: 2px solid white;
    background-color: rgb(255, 0, 0);
    border-radius: 1em;
}


.pitchCards :hover{
    transition: 2s ease-in-out;
    transform: scale(1.2);
}

.pitches {
    flex-wrap: wrap;
}

.pitchcards-container {
    margin: 0.5em;
    border-radius: 1em;
}


.inputNote {
    margin: 1em;
}

.input-overlay {
     position: relative;
    z-index: 0;
    top: -4.5em ;
    left: 1em;
    justify-content: space-evenly;
    align-items: center;
}

#playRhythm, #btnRhythmReplay {
   padding: 0;
    background-color: transparent;
   img {
    margin: 0;
   }
}

button#playRhythm :hover {
    background-color: rgb(149, 0, 242);
}

.bottom-buttons button {
    margin: 1em 0.5em;
}

.game-summary  {
    color: black;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.63);
    width: 100vw;
    height: 100vh;
    z-index: 3;
}



.game-summary-wrapper {
    box-sizing: border-box;
    color: black;
    background-color: rgb(255, 255, 255);
    width: 90%;
    border-radius: 1em;
    padding: 1em;

    p {
        margin: 1em;
        font-weight: bold;
        color: #000;
    }

    span {
        color: rgb(1, 101, 40);
    }

    
}

.cardLightOn {
    border: 0.1em solid #050085;
}


.item-wrapper {
    padding: 0.3em;
    margin: 0 0.6em;
    border-radius: 50%;
    box-shadow: 0px 0px 1em 0px rgba(227, 227, 227, 0.193);
}

.item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1em;
    height: 1em;
    left: 2em;
    top: 0.9em;
    background-color: red;
    border-radius: 50%;
    padding: 0.2em;
}




.show {
    display: block;
}

.hide {
    display: none;
}

.game-status-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    position: fixed;
    margin-top: 1em;
    top: -1.5em;
    color: white;
    font-weight: bolder;
    padding: 0.3em 0.7em;
    background-color: rgb(125, 6, 189);
    border: 4px solid rgb(250, 219, 96);
    border-radius: 1em 1em 3em 3em;
    font-family: cursive;


}

.game-status-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.m-btn-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.melody-wrapper {
    flex-wrap: wrap;
}

.btom-spells {
    box-sizing: border-box;
    width: 90%;
    position: fixed;
    bottom: 1.2em;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

button:disabled {
    background-color: black;
}

.store-btn-container {
   margin: 0 0 0 1em;
   font-size: 0.8em;
   background-color: orange;
   border: 3px dotted yellow;
   color: rgb(255, 255, 255);
   font-weight: bolder;
}

.life-container {
    border: 1px solid orange;
    
    p {
        color: white;
        margin: 0;
    }
}

.store-card, .collection-card {
    background-color: #7F03F3;
    color: #FAFAEF;
    padding: 0.5em;
    min-width: 8em;
    max-width: 8em;

    border-radius: 1em;
    margin: 0.7em;
    justify-content: space-between;
    border-bottom: 0.7em solid rgb(54, 2, 85);

    h3, h4, p, img, button {
        margin: 0;
    }   

    img {
        width: 5em;
    }

    button {
        margin-top: 1em;
        background-color: green;
    }
}

.collection-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    width: 90%;
    margin-top: 3em;
}

.collection-cards {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}



input[type='range'] {
-webkit-appearance: none;
  width: 100%;
  background: #aa7a7a;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin: 0;
}


.slider-container  {
}

.slider-container p {
    margin: 0;
}

.attribute-bar {
    position: absolute;
    top: 1em;
    right: -1%;
}


#gamecanvas {
    border-radius: 1em;
}

.next-game-container {
    background-color: rgb(3, 22, 170);
    padding: 1em;
    border-radius: 1em;
}

@keyframes rotateOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-once {
  animation: rotateOnce 1s ease-in-out;
}








@media (max-width: 767px){
    .store-card {
        min-width: 20em;
        max-width: 15em;
    }

    #gamecanvas {
        border-radius: 1em;
        width: 100vw;
        height: 70vh;
    }

  .slider-container input[type='range'] {
    width: 15em !important;
  }


 
}

@media (min-width: 778px) {
    .game-status-container {
        width: 30em;
    }

    .game-summary-wrapper {
        width: 30em;
    }

    .btom-spells {
        width: 30em;
    }

    .attribute-bar { 
        right: 1%;
    }

     .store-card {
        min-width: 13em;
        min-height: 15em;
    }

    .collection-list {
        width: 60vw;
    }
    

 
    
}