.homepage {
    background: #000000c6;
    background-image: url('../assets/bg-assets/HomeBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
    overflow-x: hidden;
}

.btn-settings {
    width: 5em;
    position: absolute;
    right: 1%;
    top: 1%
}

#btnStory, #btnPlayGame {
    background-image: url('https://i.ibb.co/0jS0k20P/fa4c0ce4-6ed5-4622-b685-84092d408c58.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 10em;
    font-size: 2em;
    font-weight: 1000;
    border: 3px solid white;
    position: relative;
}

#btnStory:hover, #btnPlayGame:hover{
    background-blend-mode:multiply;
    font-size: 2em;
    transform: scale(1.1);

}



#btnPlayGame {
    background: #000000b8;
    background-image: url('https://i.ibb.co/s9jfjRhF/Cave.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


/* Laptop screens */
@media (min-width: 1024px) and (max-width: 1439px) {

}

/* Desktop screens */
@media (min-width: 1440px) {
  .your-class {
    font-size: 1.4rem;
  }
}

