.leaderboard {
    background: #000000ce;
    background-image: url(../assets//game-assets/Assets/BackGround/Summary.png);;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    
}

.leaderboard-wrapper {
    margin-bottom: 10em;
    padding-top: 2em;
        
}

.topBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.8em;
}

.rank-container {
    width: 85vw;
    background-color: rgb(135, 146, 126);
}

#leaderboardBanner {
    width: clamp(22em, 50vw, 50em);;
    position: relative;
    top: 3em;
    z-index: 2;
}

@media (min-width: 700px){
    .rank-container {

        width: 30vw;
    }
}



  
 
