.leaderboard {
    background: #000000a2;
    background-image: url('https://i.ibb.co/zT8xn7Zm/ec58ebf2-79dd-4304-abf8-b46a854f20c3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.leaderboard-wrapper {
    margin-top: 6em;
    padding: 3em 0 0 0;
    width: 85%;
    background: rgba(22, 29, 50);
    border: 4px solid yellow;
    overflow: auto;
    margin-bottom: 4em;
    
  
}

#leaderboardBanner {
    position: absolute;
    top: 3em;
    z-index: 2;
}


table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    color: white;
}
  
td {
    width: 100vw;
    text-align: center;
    border-bottom: 1px solid white;

    img {
        margin: 0 1em;
    }
   
    
  }

 


@media (min-width: 1024px) {
     .leaderboard-wrapper {
        width: 40%;
        
     
    }
}

/* Desktop screens */
@media (min-width: 1440px) {
    
}
