.leaderboard {
    background: #000000a2;
    background-image: url('https://i.ibb.co/zT8xn7Zm/ec58ebf2-79dd-4304-abf8-b46a854f20c3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.leaderboard-wrapper {
    margin-bottom: 10em;
    
  
}

.rank-container {
    width: 85vw;
}

#leaderboardBanner {
    width: clamp(25em, 50vw, 50em);;
    position: relative;
    top: 3em;
    z-index: 2;
}

@media (min-width: 700px){
    .rank-container {
    width: 45vw;
}
}



  
 
