.log {

    background: rgba(22, 29, 50, 0.842);
    background-image: url('https://i.ibb.co/0jS0k20P/fa4c0ce4-6ed5-4622-b685-84092d408c58.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    justify-content: flex-start;
    padding: 15em 0;

    input {
        border-radius: 0.7em;
    }

    input::placeholder {
        color: rgba(246, 246, 246, 0.677);
    }

    p {
        color: black;
    }

    .errorM {
        text-align: left;
         color: red;
         font-weight: bolder;
    }

    input, button {
      width: 15em;
      background-color: rgb(6, 108, 163);
    }

    button {
        width: 20em;
        font-weight: 900;
        background-color: rgb(223, 149, 2);
        box-shadow: 0 5px #666d66;
    }


}

#btnRegister {
        width: 20em;
        font-weight: 900;
        background-color: rgb(223, 149, 2);
        box-shadow: 0 5px #666d66;
}

#beta-version {
    color: rgba(255, 255, 255, 0.463);
}