.maps {
    background: #000000a2;
    background-image: url('https://i.ibb.co/zT8xn7Zm/ec58ebf2-79dd-4304-abf8-b46a854f20c3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.maps-wrapper {
    margin-top: 3em;
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-size: 5em;
    color: #ff8f25;
}

.map-selection {
   display: flex;
   flex-direction: row;

  
}

.cat-card {
    width: 14em;
    margin: 0 1em;
    cursor: pointer;

}

.cat-card {
  transition: transform 0.3s ease; 
  color: #ff8e258f;
}

.cat-card:hover {
  transform: scale(1.2); 
}

.level-buttons {
  width: 3em;
  height: 4em;
  margin: 1em 0.5em;
  font-size: 1.2em;
  font-weight: bolder ;
  background-color: rgb(57, 2, 57);
  border: 3px solid gold;
}




@media (max-width: 767px) {
    .map-selection {
      display: flex;
      flex-direction: column;
      overflow-y: auto;        
      max-height: 90vh;        
      padding: 1em; 
      margin-bottom: 3em;
    
    
    }

    .cat-card {
      width: 18em;
    }

    .maps {
      overflow: hidden;
    
    }

    .maps-wrapper {

        
        .title {
          font-size: 2em;
        }

        
    }


    .map-selection {
        
    }

  
 
}


