.profile {
     background-image: url('https://i.ibb.co/s953MgvC/9d63ad53-169e-453e-9238-f46e3fa9c15e.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     overflow-x: scroll;
     background: rgb(15, 20, 35);
     padding-bottom: 10em;
     display: flex;
     justify-content: flex-start;
     padding-top: 4em;

     
     p {
        margin: 0;
        font-weight: 900;
        
     }

     img {
        margin-right: 1em;
     }

     h1 {
        text-overflow:ellipsis;
        
     }

}


.edit-profile {
    background: rgb(90, 90, 90);    
    overflow: scroll;
    padding-bottom: 2em;
    z-index: 20;
}

.edit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.514);
    width: 90%;
    padding: 1em;
    border-radius: 1em;
    margin: 0.7em 0;
}

.profile-container {
    margin: 0 1em 0 0;
    justify-content: flex-start;
    

}

.profile-banner {
    
}

.profile-wrapper {
    background: rgba(22, 29, 50, 0.838);
    background-image: url('https://i.ibb.co/s953MgvC/9d63ad53-169e-453e-9238-f46e3fa9c15e.jpg');
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1em;
    border-radius: 1em;
    border: 1px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
    
}

.atts-container div{
    margin-right: 1em;
}

.blackUI {
    background: rgba(22, 29, 50);
    width: 93vw;
    box-sizing: border-box;
    padding: 1em 1em 3em 1em;
}

.btnLogout {
    position: absolute;
    right: 1.3em; 
    top: 0; 
    font-size: 0.7em;
    margin: em;
}


@media (max-width: 767px) {
    .profile-wrapper, .stats, .badges, .current-rank, .item-count, .bottom-buttons {
        width: 80vw;
    }

}

@media (min-width: 1024px) {
    .profile-wrapper, .stats, .badges, .current-rank, .item-count, .bottom-buttons {
       width: 40vw;
    }   
}

/* Desktop screens */
@media (min-width: 1440px) {
  
}