.profile {
     background-image: url('https://i.ibb.co/s953MgvC/9d63ad53-169e-453e-9238-f46e3fa9c15e.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     overflow: auto;
     background: rgb(15, 20, 35);
     align-items: center;
     justify-content: flex-start;
     padding: 4em;

     
     p {
        margin: 0;
        font-weight: 900;
        
     }

     img {
        margin-right: 1em;
     }

     h1 {
        text-overflow:ellipsis;
        
     }

}


.profile-container {
    margin: 0 1em 0 0;
    justify-content: flex-start;

}

.profile-wrapper {
    background: rgba(22, 29, 50);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1em;
 
    
}

.atts-container div{
    margin-right: 1em;
}

.blackUI {
    background: rgba(22, 29, 50);
    width: 93vw;
    box-sizing: border-box;
    padding: 1em 1em 3em 1em;
}

.btnLogout {
    position: absolute;
    right: 1.3em; 
    top: 0; 
    font-size: 0.7em;
    margin: em;
}


@media (max-width: 767px) {
    .profile-wrapper {
        flex-direction: column;
        width: 80vw;
    }

}

@media (min-width: 1024px) {
    .profile-wrapper {
       width: 40vw;
    }   

    .btnLogout {
        position: relative;
        right: -41em; 
        top: -8em; 
        font-size: 0.7em;
    }
}

/* Desktop screens */
@media (min-width: 1440px) {
  
}