.set-up-container {
    background-color: rgba(246, 246, 246, 0.521);
    background-image: url('../assets/game-assets/Assets/BackGround/NormalBG/MainBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    height: 100vh;
}