.shop {
    background: #000000a2;
    background-image: url('https://i.ibb.co/DDmLYjS6/Untitled-design-82.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.item-lists button {
    margin: 1em;
}

.survival-items {
    position: relative; 
    overflow-x: auto;
    padding-bottom: 4em;
}

.store-banner {
    width: 45em;
    position: relative;
    top: -1em;
    overflow: hidden;
}


@media (max-width: 767px) {
    .menu-items {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;    
        overflow-x: hidden;    
        max-height: 36vh;        
       
  
  

    }

}

@media (min-width: 767px) {
    .store-banner {
        width: 100%;
        position: relative;
        top: -1em;
        overflow: hidden;
    }

    
}