.store-container {
    background: #000000a2;
    background-image: url('https://i.ibb.co/DDmLYjS6/Untitled-design-82.png');
    background-repeat: no-repeat;
    background-blend-mode:multiply;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-position: center;
  
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.item-lists button {
    margin: 1em;
    width: 90%;
}

.survival-items {
    position: relative; 
    overflow-x: auto;
    padding-bottom: 4em;
}

.store-banner {
    width: 45em;
    position: relative;
    top: -1em;
    overflow: hidden;
}

.cat-items-wrapper button {
    margin:  0 0.6em;
    font-size: 0.8em;
    background-color: transparent;
    border: 1px solid white;
}

.avatar-items {
    width: 47em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}


.store-wrapper{
    overflow-y: hidden;
}

@media (max-width: 767px) {
    .menu-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;    
        max-height: 35vh;        
        border-bottom: 2px solid white;
        padding-bottom: 5em;

    }

    .avatar-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }

}

@media (min-width: 767px) {
    .store-banner {
        width: 100%;
        position: relative;
        top: -1em;
        overflow: hidden;
    }

    .menu-items, .avatar-items {
      
    }

    
}