.story-container {
    background-color: rgba(143, 140, 140, 0.159);
}

.story-wrapper {
    padding-bottom: 6em;
}

.img-story {
    width: 23em;
}

@media screen  {
    
}

@media (min-width: 767px) {
    .img-story {
        width: 40vw;
    }
}