.story-container {
    background-color: rgb(143, 140, 140);
}

.story-wrapper {
    padding-bottom: 6em;
}

.img-story {
    width: 23em;
}

@media screen  {
    
}

@media (min-width: 767px) {
    .img-story {
        width: 50vw;
    }
}