#root {
  overflow: hidden;
  min-height: 100vh;
}


.user {
  background: rgb(17, 17, 17);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: absolute;
  right: 1em;
  top: 2em;
}




.flex {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.fdr {
  flex-direction: row;
}

.aic {
  align-items: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;

}

.flex-wrap {
  flex-wrap: wrap
}



input[type = text], input[type = password] {
  margin: 0.5em;
  font-size: 1.2em;
  padding: 0.3em 1em;
}

button {
  margin-top: 1em;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.errorM {
  color: red;
}


.fpage {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.btnMenu {
  font-weight: 900;
  background-color: rgb(223, 149, 2);
  width: 15em;
  box-shadow: 0 5px #666d66;
}

.btn-settings {
    width: 5em;
    position: absolute;
    right: 1%;
    top: 1%
}

#or {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 22em;

  hr{
    width: 9em;
    border: 1px solid black;
  }
}

.btn-back {
  width: 8em;
    position: absolute;
    z-index: 5;
    left: 1%;
    top: 1%;
    cursor: pointer;
}

.glass-bg {
   background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.3em;
}



.btn3d {
  background-color: rgb(223, 149, 2);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #666d66;
  cursor: pointer;
  transition: all 0.2s ease;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navLink {
  background-color: rgb(223, 149, 2);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #666d66;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
  width: 6em;
}

.backHome {
  background-color: #ffffff61;
  font-size: 1em
  
}


/**Loader styles */
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #FF3D00;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}



.pause-prompt {

  background-color: #1b263b;
  justify-content: flex-start;
  position: fixed;
  width: 90%;
  height: 90vh;
  border-radius: 2em;
 

  button {
    background-color: rgb(39, 155, 6);
    font-size: 2em;
    width: 10em;
  }

  div {
    background-color: rgb(74, 58, 111);
    width: 100%;
  }
  
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.gradient-text {
  background: #0D1DFF;
background: linear-gradient(to left, #0D1DFF 0%, #FF0000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}


.tutorial p, h3 {
  text-align: center;
  padding: 0 0.2em;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 3px;
}

.tutorial-bg {
   background-image: url('https://i.ibb.co/DDmLYjS6/Untitled-design-82.png');
}


.game-preview-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-preview-imgs img {
  
  margin: 0.3em 0.5em;
}

#preview-section {
  color: white;
  text-align: center;
  margin: 4em 0 0 0;
  padding: 1em;
  border-radius: 1em;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.pilot-prompt {
  width: 20em;
}

@media (max-width: 767px) {
    .btn-back {
        width: 6em;
        position: absolute;
        left: 0;
        top: 1%;
        cursor: pointer;
    }

    .main-logo {
      width: 20em;
    }
}

@media (min-width: 700px) {
   .game-preview-imgs {
      flex-direction: row;
  }

  .game-preview-imgs img {
    width: 10em;
  }

  #preview-section {
    width: 70%;
    background: rgba(22, 29, 50);
  }
}


.rhythm-levels-container {
  background-image: url('https://i.ibb.co/s9jfjRhF/Cave.png');
}

.melody-levels-container {
  background-image: url('https://i.ibb.co/s9jfjRhF/Cave.png');
}


