#root {
 
}

.main-logo {
  width: 30em;
}


.flex {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.fdr {
  flex-direction: row;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

input[type = text], input[type = password] {
  margin: 0.5em;
  font-size: 1.2em;
  padding: 0.3em 1em;
}

button {
  margin-top: 1em;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.errorM {
  color: red;
}


.fpage {
  width: 100vw;
  height: 100vh;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
